
<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 10px" >

  <div fxLayout="column" fxLayoutGap="20px">
    <img src="assets/logos/logo_2020.png" class="login-logo">

    <form novalidate [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <mat-card style="background-color: rgba(217,83,79,0.5);"
                *ngIf="formSubmitted && loginForm.invalid">
        <mat-card-header>There are problems with the form:</mat-card-header>
        <ul>
          <li *ngFor="let error of loginForm.getFormValidationMessages()">
            {{error}}
          </li>
        </ul>
        <br/><br/>
      </mat-card>
      <div *ngFor="let control of loginForm.formControls" style="padding-top:3px">
        <mat-form-field fxFlex="100%" appearance="outline">
          <mat-label>
            {{control.label}}
          </mat-label>
          <div *ngIf="control.modelProperty == 'password'; else inputBlock">
            <input type="password" matInput formControlName="{{control.modelProperty}}">
          </div>
          <ng-template #inputBlock>
            <input type="text" matInput formControlName="{{control.modelProperty}}">
          </ng-template>
          <mat-error *ngFor="let err of control.getValidationMessages()">{{err}}</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" [disabled]="formSubmitted && loginForm.invalid">Login</button>
    </form>
  </div>
</div>
