{% extends "bootstrap/../base.html" %}

{% macro searchForm(form) %}
    <h4>Search</h4>
    <form method="POST" action="{{ url_for("resource.search") }}" role="form">
        <div class="form-group">
            {{ form.name.label }} <br>
            {{ form.name(placeholder="Search by name") }}
        </div>
        <div class="form-group">
            {{ form.category.label }}
            <br>
            {{ form.category(placeholder=None) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endmacro %}