@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customPrimary: (
        50: #b0d3d2,
        100: #a0cac9,
        200: #8fc1bf,
        300: #7fb8b6,
        400: #6eafac,
        500: #5ea6a3,
        600: #539794,
        700: #4a8784,
        800: #417674,
        900: #386664,
        A100: #c1dcdb,
        A200: #d1e6e5,
        A400: #e1efee,
        A700: #2f5554,
        contrast: (
                50: white,
                100: white,
                200: white,
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: white,
                A200: white,
                A400: white,
                A700: white,
        )
);

$customAccent: (
        50: #4b6c33,
        100: #577e3b,
        200: #638f43,
        300: #6fa14b,
        400: #7bb055,
        500: #88b867,
        600: #a4c889,
        700: #b1d09b,
        800: #bfd8ac,
        900: #cce0be,
        A100: #a4c889,
        A200: #96c078,
        A400: #88b867,
        A700: #dae9cf,
        contrast: (
                50: white,
                100: white,
                200: white,
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: white,
                A200: white,
                A400: white,
                A700: white,
        )
);

$customWarn: (
        50: #ffffff,
        100: #fefbf8,
        200: #fdede1,
        300: #fbdfc9,
        400: #f9d0b2,
        500: #f7c29a,
        600: #f5b482,
        700: #f3a56b,
        800: #f19753,
        900: #f0893b,
        A100: #ffffff,
        A200: #ffffff,
        A300: #ffffff,
        A700: #ee7b24,
        contrast: (
                50: white,
                100: white,
                200: white,
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: white,
                A200: white,
                A400: white,
                A700: white,
        )
);

$customBackground: (
        50: #7d8f94,
        100: #708388,
        200: #65757a,
        300: #59686c,
        400: #4e5a5e,
        500: #424d50,
        600: #364042,
        700: #2b3234,
        800: #1f2526,
        900: #141718,
        A100: #8b9ba0,
        A200: #99a7ab,
        A400: #a7b3b7,
        A700: #080a0a,
        contrast: (
                50: white,
                100: white,
                200: white,
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: white,
                A200: white,
                A400: white,
                A700: white,
        )
);

$place-matters-primary: mat-palette($customPrimary);
$place-matters-accent: mat-palette($customAccent);

// The warn palette is optional (defaults to red).
$place-matters-warn: mat-palette($customWarn, A700);

//Background Colors:
$place-matters-background: mat-palette($customBackground);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$place-matters-theme: mat-light-theme((
        color: (
                primary: $place-matters-primary,
                accent: $place-matters-accent,
                warn: $place-matters-warn,
                background: $place-matters-background
        )
));

$place-matters-typography-poppins: mat-typography-config(
        $font-family: "Poppins",
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 500)
);

$place-matters-typography-playfair: mat-typography-config(
        $font-family: "Playfair Display",
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 500)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($place-matters-theme);
@include angular-material-typography($place-matters-typography-poppins);
//@include angular-material-typography($place-matters-typography-playfair);