<mat-toolbar color="primary">
  <img src="assets/logos/placematters_white_sm.png" class="logo">

  <span class="pull-right"></span>
  <div *ngIf="!(isAuthenticated()); else elseBlock">
    <button mat-icon-button
            [matTooltip]="'Admin Login'"
            [routerLink]="'admin/login'">
      <mat-icon [svgIcon]="'person'"></mat-icon>

    </button>
  </div>

  <ng-template #elseBlock>
    <button mat-icon-button
            (click)="this.authService.logoutUser()"
            [matTooltip]="'Logout'"
            [routerLink]="'/'">
      <mat-icon [svgIcon]="'logout'"></mat-icon>
    </button>
  </ng-template>

</mat-toolbar>
<router-outlet></router-outlet>


