.grid-container {
  margin: 20px;
}

.card-icon{
  width: 100px;
  height: 100px;
  font-size: 36px;
}

.dashboard-card{
  width:200px;
  height:200px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-expansion{
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
