<div fxLayout="row wrap" fxLayout.sm="column" style="margin-left:10px; margin-right: 10px">
  <div fxFlex.gt-sm="25%" fxFlex.lt-md="100%" [fxHide]="mapOpen">
    <h3 style="text-align: center; padding-top:10px">Search</h3>
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div *ngFor="let control of searchForm.formControls">
        <mat-form-field fxFlex="100%">
          <mat-label>{{control.label}}</mat-label>
          <div *ngIf="control.modelProperty == 'category'; else inputBlock">
            <mat-select formControlName="{{control.modelProperty}}">
              <mat-option></mat-option>
              <mat-option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</mat-option>
            </mat-select>
          </div>
          <ng-template #inputBlock>
            <input type="text" matInput formControlName="{{control.modelProperty}}">
          </ng-template>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <button mat-raised-button color="primary" type="submit">Search</button>
        <br/>
        <button mat-raised-button class="reset" (click)="this.resetSearchForm()">Reset</button>
      </div>
    </form>
    <cdk-virtual-scroll-viewport itemSize="10" class="map-list-viewport">
      <div *cdkVirtualFor="let resource of resources; let idx = index">
        <mat-card>
          <mat-card-content>
            <h2>{{resource.name}}</h2>
            <h4>{{resource.address}}</h4>
            <mat-chip-list>
              <mat-chip color="accent" selected>
                {{resource.category["name"]}}
              </mat-chip>
            </mat-chip-list>
            <br>
            <a [routerLink]="['/info/', resource.id]" mat-raised-button color="primary">More Information</a>
            <a (click)="this.openInfoBox(resource.id - 1)" mat-raised-button color="primary">Show on Map</a>
          </mat-card-content>
        </mat-card>
        <hr>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <map-display class="map-format" fxFlex.lt-sm="100" fxFlex.gt-sm="75"  [fxShow.lt-md]="mapOpen"  [resources]="resources"></map-display>

  <div *ngIf="!mapOpen else closeMap" fxLayout="column" fxFlex.lt-md="100%" fxHide.gt-sm="true">
    <button id="showMap" mat-raised-button color="primary"  (click)="toggleMap()">Show Map</button>
  </div>
  <ng-template #closeMap>
    <div fxLayout="column" fxFlex.lt-md="100%" fxHide.gt-sm="true">
      <button id="hideMap" mat-raised-button color="primary"  (click)="toggleMap()">Hide Map</button>
    </div>
  </ng-template>
</div>
