{% extends "./base.html" %}

{% macro begin_form(form, action, method='POST', classes='') %}
    <form action="{{ action }}" method="{{ method }}" class="{{ classes }}" role="form">
{% endmacro %}

{% macro render_form_field(field, class='', placeholder=None) %}
    <div class="form-group">
        {% if field.type != 'SubmitField' %}
            {{ field.label }}
        {% endif %}

        {% if field.type == 'SelectField' %}
            {{ field(class=class) }}
        {% elif field.type == 'StringField' %}
            {{ field(class=class, placeholder=placeholder)}}
        {% elif field.type == 'SubmitField' %}
            {{ field(class=class) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro end_form() %}
    </form>
{% endmacro %}