<div fxLayout="row wrap" fxLayout.sm="column" style="margin-left:10px; margin-right: 10px">
    <div fxFlex.gt-sm="30%" fxFlex.lt-sm="100%" [fxHide]="mapOpen">
        <mat-card>
            <mat-card-content>
                <p class="mat-headline">ABOUT</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Vivamus at augue eget arcu dictum
                    varius duis. Non sodales neque sodales ut etiam sit amet nisl purus. Neque gravida
                    in fermentum et sollicitudin ac orci. Feugiat in fermentum posuere urna nec tincidunt
                    praesent semper.
                </p>
            </mat-card-content>
        </mat-card>

        <cdk-virtual-scroll-viewport itemSize="10" class="map-list-viewport">
            <div *cdkVirtualFor="let resource of resources; let idx = index">
                <mat-card>
                    <mat-card-content>
                        <h2>{{resource.name}}</h2>
                        <h4>{{resource.street}}, {{resource.city}}, {{resource.state}}, {{resource["zipcode"]}}</h4>
                        <mat-chip-list>
                            <mat-chip color="accent" selected>
                                {{resource.categoryName}}
                            </mat-chip>
                        </mat-chip-list>
                        <br>
                        <a [routerLink]="['/info/', resource.id]" mat-raised-button color="primary">More Information</a>
                        <a (click)="this.openInfoBox(resource.id - 1)" mat-raised-button color="primary">Show on Map</a>
                    </mat-card-content>
                </mat-card>
                <hr>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <mat-card fxFlex.gt-sm="70%">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <mat-form-field fxFlex="20" *ngFor="let control of searchForm.formControls">
                <mat-label>{{control.label}}</mat-label>
                <mat-select *ngIf="control.modelProperty == 'category'; else inputBlock"
                            formControlName="{{control.modelProperty}}">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let cat of categories"
                                value="{{cat.categoryName}}">{{cat.categoryName}}</mat-option>
                </mat-select>
                <ng-template #inputBlock>
                    <input type="text" matInput formControlName="{{control.modelProperty}}">
                </ng-template>
            </mat-form-field>
            <div>
                <span><button mat-raised-button color="primary" type="submit">Search</button></span>
            <span><button mat-raised-button class="reset" (click)="this.resetSearchForm()">Reset</button></span>
            </div>
        </form>

        <map-display class="map-format" [fxShow.lt-md]="mapOpen" [resources]="resources"></map-display>
    </mat-card>



    <!--    <div fxFlex.gt-sm="25%" fxFlex.lt-md="100%" [fxHide]="mapOpen">-->
    <!--        <cdk-virtual-scroll-viewport itemSize="10" class="map-list-viewport">-->
    <!--            <div *cdkVirtualFor="let resource of resources; let idx = index">-->
    <!--                <mat-card>-->
    <!--                    <mat-card-content>-->
    <!--                        <h2>{{resource.name}}</h2>-->
    <!--                        <h4>{{resource.street}}, {{resource.city}}, {{resource.state}}, {{resource["zipcode"]}}</h4>-->
    <!--                        <mat-chip-list>-->
    <!--                            <mat-chip color="accent" selected>-->
    <!--                                {{resource.categoryName}}-->
    <!--                            </mat-chip>-->
    <!--                        </mat-chip-list>-->
    <!--                        <br>-->
    <!--                        <a [routerLink]="['/info/', resource.id]" mat-raised-button color="primary">More Information</a>-->
    <!--                        <a (click)="this.openInfoBox(resource.id - 1)" mat-raised-button color="primary">Show on Map</a>-->
    <!--                    </mat-card-content>-->
    <!--                </mat-card>-->
    <!--                <hr>-->
    <!--            </div>-->
    <!--        </cdk-virtual-scroll-viewport>-->
    <!--    </div>-->

    <!--    <div fxFlex.lt-sm="100" fxFlex.gt-sm="75">-->
    <!--        <form [formGroup]="searchForm" (ngSubmit)="search()">-->
    <!--            <mat-form-field fxFlex="100%" *ngFor="let control of searchForm.formControls">-->
    <!--                <mat-label>{{control.label}}</mat-label>-->
    <!--                <mat-select *ngIf="control.modelProperty == 'category'; else inputBlock"-->
    <!--                            formControlName="{{control.modelProperty}}">-->
    <!--                    <mat-option></mat-option>-->
    <!--                    <mat-option *ngFor="let cat of categories"-->
    <!--                                value="{{cat.categoryName}}">{{cat.categoryName}}</mat-option>-->
    <!--                </mat-select>-->
    <!--                <ng-template #inputBlock>-->
    <!--                    <input type="text" matInput formControlName="{{control.modelProperty}}">-->
    <!--                </ng-template>-->
    <!--            </mat-form-field>-->
    <!--            <button mat-raised-button color="primary" type="submit">Search</button>-->
    <!--            <button mat-raised-button class="reset" (click)="this.resetSearchForm()">Reset</button>-->
    <!--        </form>-->

    <!--        <map-display class="map-format" [fxShow.lt-md]="mapOpen" [resources]="resources"></map-display>-->
    <!--    </div>-->
    <!--    -->
    <!--    <div *ngIf="!mapOpen else closeMap" fxLayout="column" fxFlex.lt-md="100%" fxHide.gt-sm="true">-->
    <!--        <button id="showMap" mat-raised-button color="primary" (click)="toggleMap()">Show Map</button>-->
    <!--    </div>-->
    <!--    <ng-template #closeMap>-->
    <!--        <div fxLayout="column" fxFlex.lt-md="100%" fxHide.gt-sm="true">-->
    <!--            <button id="hideMap" mat-raised-button color="primary" (click)="toggleMap()">Hide Map</button>-->
    <!--        </div>-->
    <!--    </ng-template>-->
</div>
