.map-list-viewport{
  height: 375px;
  width: 100%;
  display: flex;
  margin-right: 10px;
}

.reset {
  background-color: darkslategrey;
  color:white;
}

.map-format{
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
}

/*mat-form-field.mat-form-field {*/
/*  width: 33%;*/
/*}*/