<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 10px">
    <div fxLayout="column" fxLayoutGap="20px">
        <h1 class="mat-headline" style="padding-left: 10px">All Users</h1>

        <table mat-table [dataSource]="dataSource" fxFlex="100%">
            <!--- These columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id No.</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setUser(row)"></tr>
        </table>
    </div>
    <div fxFlex="100%">
        <mat-card *ngIf="user">
            <mat-card-content>
                <h1 class="mat-headline">{{user.firstName}} {{user.lastName}}</h1>
                <h1 class="mat-headline">{{user.email}} County</h1>

                <h3 class="mat-headline">Roles</h3>
                <p>{{user.roles[0].name || "Not Available"}}</p>
                <h4 class="mat-headline">Role Permissions</h4>
                <p>{{user.firstName}} {{user.lastName}} has the following permissions</p>
                <p *ngFor="let p of user.roles[0].permissions">
                    {{p.name || "Not Available"}}
                </p>
                <div>
                    <button mat-raised-button color="accent" fxFlex>Edit Resource</button>
                    <button mat-raised-button color="warn" fxFlex> Delete Resource</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>