<div class="container"
     fxLayout="row wrap"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     style="padding-top: 10px">
    <div fxFlex="70%" fxLayout="column wrap">
        <h1 class="mat-headline" style="color:indigo">Upload List of Resources</h1>
        <mat-divider></mat-divider>

        <mat-horizontal-stepper linear="true" #stepper>
            <mat-step label="Select County" [stepControl]="countyFormStep">
                <mat-label>Select a County:</mat-label>
                <form [formGroup]="countyFormStep">
                    <mat-radio-group formControlName="county" class="csv-radio-group">
                        <div *ngFor="let cty of countyListing">
                            <mat-radio-button value="{{cty.name}}" class="csv-radio-button">
                                {{cty.name}}
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>

                    <div style="padding-top:10px;">
                        <button mat-raised-button color="primary" matStepperNext >Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Upload CSV File">
                <h1 class="mat-headline">Select CSV File for {{countyFormStep.controls["county"].value}}</h1>
                <form [formGroup]="csvFormStep">
                    <input type="file" #file style="display: none" (change)="onFilesAdded($event)" accept="text/csv"/>
                    <button [disabled]="uploading" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
                        Add File
                    </button>
                </form>

                <mat-card *ngFor="let file of csvFormStep.controls['csv'].value">
                    <mat-card-content>
                        {{file.name}}
                        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async">
                        </mat-progress-bar>
                    </mat-card-content>
                </mat-card>

                <div>
                    <button *ngIf="this.csvFormStep.controls['csv'].value.length > 0 && !this.uploadSuccessful" mat-raised-button color="primary" (click)="uploadFiles()">Upload File(s)</button>
                </div>
                <div>
                    <button *ngIf="this.uploadSuccessful" mat-raised-button matStepperNext color="primary" >Next</button>
                </div>
            </mat-step>
            <mat-step label="Upload Confirmation">

            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
