{% extends "bootstrap/base.html" %}
<title>{% block title %}{% endblock %} - Place Matters Maine</title>
{% block navbar %}
    {{nav.top.render()}}
{% endblock %}

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</section>